<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Drip Work App</title>
</head>
<body>
    <div class="topNavbar">
        <h1>Drip Work</h1>
    </div>
    <audio hidden id='finishAudio'>
    <source src="/audio/ping.mp3" type='audio/mpeg'></audio>
    
    <div id="sessionContainer">
        <div class='innerDiv' id='sessionCreation'>
            <p>Welcome <%=currentUser.username%>, it is time to open the faucet.</p>
            <form action="" id='sessionScheduleForm'>
                <div class="timerDiv">
                    <div id="timeInputs">
                        <label for="hoursInput">Hours:</label>
                        <input id='hoursInput' type="number" placeholder="hr" name='hours'>
                        <label for="minutesInput">Minutes:</label>
                        <input id='minutesInput' type="number" placeholder="min" name='minutes'>
                        <label for="secondsInput">Seconds:</label>
                        <input id='secondsInput' type="number" placeholder="sec" name='seconds'>
                    </div>
                    <a id='setTimerBtn' class='funcBtn'>Set Timer</a>
                    <a id='clearTimerBtn' class='funcBtn'>Clear Timer</a>
                    <p id='targetTime'>Your session will end at <strong><span id='targetEndingTime'></span></strong></p>
                </div>
                <p><strong>Add missions to your new session:</strong></p>
                <ul id='sessionMissions'>
                </ul>
                <label for="sessionMission">New Mission:</label>
                    <input id='sessionMission' type="text">
                    <button id='addMissionBtn' type="button">Add</button>
                <textarea name="comments" placeholder='Comments for this session' id="missionCommentsInput" cols="30" rows="10"></textarea>
                <br><br>
                <button id='startSessionBtn'>Start Session</button><br>
            </form>
        </div>

        <div class='innerDiv' id="sessionRunning">
            <div class="sessionClockDiv">
                <h1 id='clock'></h1>
                <a id='pauseSessionBtn' class='funcBtn'>Pause</a>
                <a id='resumeSessionBtn' class='funcBtn'>Resume</a>
                <a id='stopSessionBtn' class='funcBtn'>End Session</a>
            </div>

            <div class="sessionObjectives">
                <p><strong>The missions for this session are:</strong></p>
                <table id='sessionMissionsTable'>
                    <thead>
                        <tr>
                            <td><strong>Mission</strong></td>
                            <td><strong>Comments</strong></td>
                        </tr>
                    </thead>
                    <tbody id='sessionMissionsTableBody'>
                    </tbody>
                </table>
                <p id='sessionComments'></p>
            </div>
        </div>

        <div class='innerDiv' id="sessionClosing">
            <p><strong>The session is over! Here you can close it:</strong></p>
            <form id='sessionResultsForm' method="POST" action="/endSession">
                <label for="feelingRating">Feeling Rating (From 0 to 100)</label>
                <input id='feelingRating' name='feelingRating' type="number" min="0" max="100"><br>
                <label for="sessionComments">Comments</label>
                <textarea name="sessionComments" id="sessionComments"></textarea><br>
                <button type="submit">Close Session!</button>
            </form>
        </div>

        <div class='innerDiv' id="sessionResults">
            <h1>Session Results</h1>
            <p><span id='resultsMessage'></span></p>
            <% if(currentUser){ %>
                <a href="/users/<%=currentUser.username%>">Profile</a>
            <% } %>
            <a href="/">Landing Page</a>
        </div>

    </div>
    <br>

<div class="bottomNavbar">
    <% if(!currentUser){ %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
        <a href="/users/<%=currentUser.username%>"><span id='currentUser'><%=currentUser.username%></span></a>
        <a href="/logout">Logout</a>
    <% } %>
    <a id='suggestionsBtn'>Suggestions</a>
</div>

    <script src='scripts/script.js'></script>
</body>
</html>