<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Deep Work - Register</title>
</head>
<body>
    <div class="authForm">
        <h1>Please register to start using the app</h1>
        <form action="/register" method="POST">
            <label for="email">Email</label>
            <input type="email" id='email' name='email' required><br>
            <label for="username">Username</label>
            <input type="text" id='username' name='username' required><br>
            <label for="password">Password</label>
            <input type="password" id='password' name='password' required><br>
            <button id='registerButton' type="submit">Register</button>
        </form>
        <p>Already have an account and you are lost? <a href="/login">Login</a></p>
    </div>
    <script src=''></script>
</body>
</html>