#sessionTopicForm {
    display: block;
    text-align: center;
}

#scheduleSessionForm {
    display: none;
}

.deleteMission {
    width: fit-content;
    cursor: pointer;
}

td {
    width: auto;
}

.scheduledSessionMissionLi {
    border-top: 2px black dashed;
    border-bottom: 2px black dashed;
}