body {
    background-color:black;
    text-align: center;
    color: white;
}

table {
    margin: 0 8%;
    width: 84%;
    margin-bottom: 8px;
}

table td {
    border: solid 1px black;
}

thead {
    font-weight: bold;
    text-align: center;
}


.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
    top: 0;
    left: 0;
    display: block;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
}

.modal-container {
    margin: 8px 88px 88px 88px;
    border-radius: 10px;
    background: #fff;
    color: black;
    position: relative;
    padding: 30px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

#userDisplayDiv {
    margin-bottom: 33px;
}

#modalMissionsDisplay {
    width: 88%;
    word-wrap: break-word;
    text-align: center;
}

#sessionMissionsDiv {
    border: 1px solid black;
    background-color: rgba(6, 6, 7, 0.482);
}

#userDisplayDiv {
    display: none;
}

.headerBanner{
    background-color: black;
    text-align: center;
    flex: 0 1 auto;
    color: rgba(177, 172, 172, 0.685);
    text-decoration: none;
}

.headerBanner span {
    margin: 0 22px;
    font-size: 1.5em;
    color: cyan;
}

.headerBanner a {
    text-decoration: none;
}

.headerBanner span:hover {
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    text-decoration: none;
    cursor: pointer;
}

#headerTitle{
    font-family: 'Roboto Mono', monospace;    
    color: rgb(39, 95, 160) !important;
    text-decoration: none;
}

#selectedTopicTimeDisplay {
    display: none;
}